 * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  height: 100vh;
  background: rgb(255, 255, 255);
}

img {
  max-width: 100%;
  width: 500px;
}
